#u142-2,#u142-4,#u370-2
{
	font-family: open-sans-n6, sans-serif;
}

#u1726-4,#u1722-4
{
	font-family: actor-n4, sans-serif;
}

#u364-4,#u142-8,#u368-4,#u371-4,#u370-7,#u372-8,#u374-4,#u363-6,#u141-5,#u1920-4,#u1921-4,#u1922-4,#u282-4,#u278-5,#u1906-4
{
	font-family: open-sans-n3, sans-serif;
}

#u1863-4,#u1864-4,#u1824-14,#u1919-5
{
	font-family: open-sans-n4, sans-serif;
}

