#u3093-5,#u3382-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3073-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3072-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3078-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3076-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3112-2,#u3112-5,#u3113,#u3118-3
{
	font-family: open-sans-n6, sans-serif;
}

#u3094-5,#u3104-6,#u3112-10,#u3113-4,#u3120-4,#u3121-4,#u3118-8,#u3119-6,#u3129-4,#u3128-4,#u3311-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3310-4,#u3340-4,#u3339-14
{
	font-family: open-sans-n4, sans-serif;
}

