#u2285-5
{
	font-family: open-sans-n3, sans-serif;
}

#u3350-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2286-5,#u3020-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3021-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3023-4
{
	font-family: open-sans-n3, sans-serif;
}

#u3024-4
{
	font-family: open-sans-n3, sans-serif;
}

#u2613,#u2611-2,#u2611-5,#u2623-3
{
	font-family: open-sans-n6, sans-serif;
}

#u2934-4,#u2935-4,#u2933-14
{
	font-family: open-sans-n4, sans-serif;
}

#u2609-6,#u2613-4,#u2611-9,#u2625-4,#u2626-4,#u2623-8,#u2624-6,#u2636-4,#u2637-4,#u2940-4,#u3037-4
{
	font-family: open-sans-n3, sans-serif;
}

